<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2 class="brand-title">Biblio PY</h2>
    </div>
    <nav class="sidebar-menu">
      <a routerLink="/etudiant/mon-compte" routerLinkActive="active" class="menu-item">Mon compte</a>
      <a routerLink="/etudiant/suivi-emprunts" routerLinkActive="active" class="menu-item">Suivi des Emprunts</a>
      <a routerLink="/etudiant/historique" routerLinkActive="active" class="menu-item">Historique des emprunts</a>
      <a routerLink="/etudiant/mes-livres" routerLinkActive="active" class="menu-item">Mes livres</a>
      <a routerLink="/etudiant/notifications" routerLinkActive="active" class="menu-item">Notifs</a>
    </nav>
  </aside>

  <main class="main-content">
    <header class="top-header">
      <div class="user-profile">
        <span class="user-name">
          {{ profilEtudiant ? (profilEtudiant.prenom + ' ' + profilEtudiant.nom) : 'Chargement...' }}
        </span>
        <div class="user-avatar">👤</div>
      </div>
    </header>

    <section class="content-body">
      <h1 class="page-title">Mes Livres</h1>

      <div class="search-container">
        <div class="search-box">
          <input 
            type="text" 
            [(ngModel)]="termeRecherche" 
            (keyup)="filtrerLivres()" 
            placeholder="Recherche un emprunt"
          >
        </div>
      </div>

      <div *ngIf="livresFiltres.length === 0" style="text-align: center; color: #777; margin-top: 30px;">
        Aucun livre en votre possession actuellement.
      </div>

      <div class="books-grid" *ngIf="livresFiltres.length > 0">
        <div class="book-card" *ngFor="let emprunt of livresFiltres">
          
          <div class="action-top-wrapper">
            <button class="btn-prolonger" (click)="prolongerEmprunt(emprunt.id_demande)">Prolonger l'emprunt</button>
          </div>

          <div class="book-cover-wrapper">
            <img [src]="emprunt.livre_details?.image || 'assets/images/default.png'" class="book-cover" alt="Couverture">
          </div>

          <div class="book-info">
            <span class="date-limite">A rendre le : {{ emprunt.date_retour_prevue | date:'dd/MM/yyyy' }}</span>
          </div>

          <button class="btn-rendre" (click)="rendreLivre(emprunt.id_demande)">Rendre</button>
        </div>
      </div>

    </section>
  </main>
</div>