<div class="profil-container">
  
  <div class="profil-top-bar">
    <h2 class="profil-title">
      <span>👤</span> Mon Profil
    </h2>

    <button (click)="allerAAccueil()" class="btn-back-home-top" title="Retour à l'accueil">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    </button>
  </div>

  <div *ngIf="chargement">
    <p>⏳ Chargement du profil...</p>
  </div>

  <div *ngIf="!chargement && profil">

    <div *ngIf="!modeEdition" class="profile-card">
      <p><strong>Prénom :</strong> {{ profil.prenom }}</p>
      <p><strong>Nom :</strong> {{ profil.nom }}</p>
      <p><strong>Email :</strong> {{ profil.email }}</p>
      <p><strong>Carte étudiant :</strong> {{ profil.numero_carte_etudiant }}</p>
      <p><strong>Emprunts en cours :</strong> {{ nbEmpruntsEnCours }}</p>
      <button (click)="modeEdition = true" class="btn-edit">
        ✏️ Modifier mon profil
      </button>
    </div>

    <div *ngIf="modeEdition" class="profile-card">
      <div class="form-group">
        <label>Prénom</label>
        <input [(ngModel)]="formulaire.prenom" class="form-control" />
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input [(ngModel)]="formulaire.nom" class="form-control" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="formulaire.email" type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label>Nouveau mot de passe <small>(laisser vide pour ne pas changer)</small></label>
        <input [(ngModel)]="formulaire.nouveau_mot_de_passe" type="password" class="form-control" />
      </div>

      <div class="btn-group">
        <button (click)="sauvegarder()" class="btn-save">
          💾 Sauvegarder
        </button>
        <button (click)="modeEdition = false" class="btn-cancel">
          Annuler
        </button>
      </div>
    </div>

    <p *ngIf="message" class="msg-success">{{ message }}</p>
    <p *ngIf="erreur" class="msg-error">{{ erreur }}</p>
  </div>
</div>