<div class="retard-container">
  <div class="header">
    <button class="btn-back" (click)="retour()">← Retour</button>
    <h1>Livres en Retard</h1>
  </div>

  <div class="search-section">
    <input type="text" placeholder="Rechercher un étudiant ou un livre..." [(ngModel)]="recherche" (input)="filtrer()">
  </div>

  <div class="list-container">
    <div class="loading" *ngIf="loading">Calcul des retards en cours...</div>
    
    <div class="card-retard" *ngFor="let r of retardsFiltres">
      <div class="info">
        <h3>{{ r.livre_details?.titre }}</h3>
        <p>Emprunteur : <strong>{{ r.etudiant_nom }}</strong></p>
        <p class="date-alerte">Dû le : {{ r.date_retour_prevue | date:'dd/MM/yyyy' }}</p>
      </div>
      <button class="btn-relance" (click)="envoyerNotification(r)">Relancer l'étudiant</button>
    </div>

    <div class="empty" *ngIf="!loading && retardsFiltres.length === 0">
      🎉 Félicitations, aucun retard détecté !
    </div>
  </div>
</div>